/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'ABeeZee', 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --full-height: 100vh;
}

/* START SCROLLBAR DESIGN */
@media (min-width: 769px) {
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #555;
        border-radius: 8px;
    }

    body {
        scrollbar-width: thin;
        scrollbar-color: #555 #f0f0f0;
    }
}
/* END SCROLLBAR DESIGN */

.maplibregl-ctrl-attrib-inner {
    color: black !important;
}

.maplibregl-ctrl-top-right {
    top: 4rem !important;
    right: 0.5rem !important;
}

#compass-marker {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 40px solid rgba(52, 148, 244, 0.85);
    border-radius: 10px;
}
